.menu-pizza .whole-cart {
    position: absolute;
    top: 20%;
    right: -45px;
    cursor: pointer;
}

.indicator {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.indicator .add{
    height: 20px;
    width: 20px;
    background-color: rgb(42, 230, 42);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

@media only screen and (max-width : 400px) {
    .menu-pizza .whole-cart {
        position: relative;
        width: fit-content;
        top: unset;
        right: unset;
    }

    .indicator {
        position: absolute;
        display: block;
        right: unset;
        right: 0;
        padding: 0;
    }
}

.cart-bar {
    position: absolute;
    top: 0;
    right: 5vw;
    padding: 20px 30px;
    background-color: rgb(42, 230, 42);
    cursor: pointer;
}

.cart-bar img {
    position: absolute;
    top: 20%;
    right: -45px;
}

.popup {
  width: 160px;
  background-color: rgb(40, 126, 44);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 100%;
  pointer-events: none;
}

.btn .popup {
    position: absolute;
    top: -50px;
    left: 0;
}

.btn-delete {
    float: right;
    padding: 5px;
    background-color: crimson;
}

@media only screen and (max-width: 400px) {
    .btn-delete {
        float: unset;
        margin-top: 5px;
    }
}