#root{
    display: flex;
    margin-top: 100px;
    background-color: rgb(0, 255, 255, .5);
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    flex-direction: column;
    align-items: center;

}

body {
    background-color: #540300;
    background-image: url("../img/brick-wall.png");
    font-family: 'Source Sans Pro';
}

header.pizza{
    margin-top: 10px;
    padding: 1rem 2rem;
    border: .1rem solid crimson;
    border-radius: 1rem;
    font-size: xx-large;
}

.compose {
    display: flex;
    width: 60%;
    flex-direction: column;
}

header {
    display: block;
    align-self: center;
}

.ingredients {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addons {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 1em;
    width: 14rem;
    border: 1px solid black;
    background-color: aquamarine;
    transition: .3s;
    user-select: none;
}

.active {
    background-color: rgb(255, 127, 127);
}

.addons:hover {
    opacity: .6;
    cursor: pointer;
}

.button {
    margin-right: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: 2px outset rgb(0, 115, 153);
    padding: 15px 15px; 
}

.button:hover {
    opacity: .8;
}

.welcome {
    text-align: center;
    padding-bottom: 10vh;
}

.welcome .header {
    font-size: 4rem;
    font-weight: 600;
}

.welcome .text{
    font-size: 2rem;
}

.btn {
    width: fit-content;
    position: relative;
    align-self: flex-end;
}

.btn-delete {
    float: right;
    padding: 5px;
    background-color: crimson;
}