.logo{
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    vertical-align: top;
    align-self: center;
    margin-top: -60px;
    width: 300px;
    display: flex;
    align-self: flex-start;
}

.title {
    align-self: center;
    flex: 1;
    font-size: 10rem;
}

@media only screen and (max-width : 400px) {
    .title {
        font-size: 5rem;
    }
}