nav {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-active {
    color: rgb(204, 40, 40);
}

.link {
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    width: 6rem;
    background-color: rgb(233, 155, 141);
    border: .1rem solid rgb(230, 18, 18);
    border-radius: 2rem;
    color: rgb(27, 51, 189);
}

.link:hover {
    color: rgb(204, 100, 40);
}

.link + .link {
    margin-left: 20px;
}