.inputButtons{
    margin-top: 10px;
}

.button.back {
    padding: 10px 10px;
}

.accepted {
    color: rgb(46, 214, 46);
    font-size: 1.75rem;
    text-align: center;
}

@media only screen and (max-width : 400px) {
    .inputs input {
        display: block;
    }
}